.light-theme {
  background-color: $bg-light;
  color: $text-dark;

  .nav-btn {
    @include button($primary-color, $text-light);
  }

  .theme-btn {
    @include button($secondary-color, $text-light);
  }
}

.dark-theme {
  background-color: $bg-dark;
  color: $text-light;

  .nav-btn {
    @include button($secondary-color, $text-dark);
  }

  .theme-btn {
    @include button($primary-color, $text-light);
  }
}
